@import url(variables.css);
*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: var(--color-blanco);
}

body {
    background-color: #000;
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.atras{
    width: 90%;
    height: 8vh;
    display: flex;
    align-items: end;
    /* background-color: indianred; */
    font-size: 3vw;
}
.title{
    /* background-color: cadetblue; */
    width: 50vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.title h1{
    font-family: "Press Start 2P", sans-serif;
}
.title h2{
    font-family:"Kode Mono", sans-serif ;
}

main{
    /* background-color: lightblue; */
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.muestra {
    width: 30%;
    aspect-ratio: 20 / 43;
    /* background-color: rebeccapurple; */
}
.muestra iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.container {
    margin-top: 5vh;
    width: 30vw;
    height: 70vh;
    /* background-color: olive; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container button{
    border: none;
    margin-top: 3vw;
    border-radius: 2vw;
    font-size: 1.6vw;
    font-family: "VT323", sans-serif;
    background-color: #03767e;
    width: 12vw;
    height: 6vh;
}
.container button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgb(1, 216, 216);
}

.descripcion {
    font-size: 2vw;
    flex-wrap: wrap;
    width: 30vw;
    border-radius: 1vw;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #03767e79;
    border: 1px solid rgb(1, 216, 216);
    box-shadow: 0 0 10px 0 rgb(1, 216, 216);
    font-family: "VT323", sans-serif;
}
.descripcion p{
    margin: 3vw;
}