@import url(variables.css);
*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: var(--color-blanco);
}

body {
    background-color: #000;
    margin: 0;
}
main{
    width: 100%;
    display: flex;
}
.menu{
    width: 20%;
    height: 100vh;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 10px rgb(10, 233, 233) ;
}

.menu a {
    font-size: 2vw;
    color: rgb(1, 216, 216);
    text-shadow: 0 0 2px rgb(10, 233, 233), 0 0 40px rgb(6, 226, 226), 0 0 30px rgb(16, 227, 227);
    animation: glitch 1s infinite;
    position: relative;
    transition: all 0.3s ease-in-out;
    transform: rotate(-40deg);
    font-family: "Kode Mono", sans-serif; 
}
  
.menu a:hover {
    color: #800080;
    text-shadow: 0 0 1px #800080, 0 0 4px #800080, 0 0 6px #800080;
    transform: scale(1.2);
    animation: glitch 0.5s infinite;
  }

.presentacion{
    /* background-color: darkblue; */
    margin-left: 5vw;
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.gif-programadora{
   box-sizing: border-box;
    height: 25vh;
}
.gif-programadora img{
    object-fit: cover;
    height: 100%;
} 
.fondoborroso{
    position: absolute;
    width: 80%;
    height: 100vh;
    /* background-image: url("../storage/img/fondo2.jpg"); */
    filter: blur(1px);
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.bienvenida{
    width: 70%;
    height: 60%;
    /* background-color: khaki; */
}
.saludo{
    font-size: 1vw;
    font-family:  "DotGothic16", sans-serif;
    border-radius: 1vw;
    width: 23vw;
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to bottom,  rgba(1, 216, 216, 0.397), rgba(3, 220, 220, 0.329));
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
.saludo i{
    font-size: 2vw;
}

.text-presentacion{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: tan; */
    width: 90%;
    height: 70%;
    font-size: 3vw;
    font-family: "Geo", sans-serif;
}

/* #text-presentacion span{
    font-family: "VT323", sans-serif;
    color: #01d8d8;
} */
.text-presentacion span{
    font-family: "VT323", sans-serif;
    color: #01d8d8;

}
.contacto {
    background: linear-gradient(to bottom, rgba(108, 22, 158, 0.367), rgba(103, 10, 137, 0.641));
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 2vw;
    width: 65%;
    height: 10%;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icon-contacto{
    margin-right: 5px;
    width: 2vw;
    height: 2vw;
    box-sizing: border-box;
    border-radius: 1vw;
}
.icon-contacto img{
    object-fit: cover;
    height: 100%;
}
.icon-contacto i{
    font-size: 2vw;
}
.contacto a {
    font-family: "Geo", sans-serif;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5vw;
}
.contacto .red{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contacto a:hover{
    text-shadow: 0 0 1px #800080, 0 0 18px #800080, 0 0 15px #800080;
}
.main{
    background-color: blanchedalmond;
}
  
  /* @keyframes glitch {
    0% {
      transform: translate(0, 0);
    }
    5% {
      transform: translate(-5px, 2px);
    }
    10% {
      transform: translate(2px, -3px);
    }
    /* ... más keyframes para diferentes distorsiones 
  } */

.section-conocimiento{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.Conocimientos {
    color: var(--color-blanco);
    font-family: "Press Start 2P", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 8vh;
    background-color: #03767e79;
    border-radius: 1vw;
    border: 1px solid rgb(1, 216, 216);
    box-shadow: 0 0 10px 0 #01d8d8;
    font-size: 1.4vw;
}
.atras{
    height: 1px;
    width: 70%;
    display: flex;
    justify-content: start;
}
.atras i{
    font-size: 2vw;
}
.atras i:hover{
    cursor: pointer;
    font-size: 3vw;
    text-shadow: 0 0 2px rgb(10, 233, 233), 0 0 40px rgb(6, 226, 226), 0 0 30px rgb(16, 227, 227);
}
.herramientas{
    font-size: 1vw;
    flex-wrap: wrap;
    width: 60vw;
    height: 45vh;
    border-radius: 1vw;
    display: flex;
    background-color: #03767e79;
    border: 1px solid rgb(1, 216, 216);
    box-shadow: 0 0 10px 0 rgb(1, 216, 216);
}
.box-herramienta{
    font-family: "Kode Mono", sans-serif; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2vw;
    border-radius: 1vw;
    width: 10vw;
    height: 6vh;
    background-color: rgba(4, 197, 197, 0.637);
}
.icon-herramientas{
    font-size: 2vw;
}
.icon-herramientas i{
    background-color: var(--color-negro);
}
.second i{
    outline: 3px solid var(--color-negro);
    background-color: #ecd60a;
    font-size: 1.7vw;
}
.third i{
    outline: 3px solid var(--color-negro);
    background-color: var(--color-blanco);
    font-size: 1.7vw;
}
.fourth i{
    outline: 3px solid var(--color-negro);
    background-color: var(--azul-oscuro);
    font-size: 1.7vw;
}
.fifth i{
    outline: 3px solid var(--color-negro);
    background-color: var(--color-blanco);
    font-size: 1.7vw;
}
.express {
    width: 1.7vw;
    height: 3.5vh;
    outline: 3px solid var(--color-negro);
    background-color: var(--gris-oscuro);
    color: var(--color-blanco);
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-herramientas img{
    outline: 3px solid var(--color-negro);
}
.seventh i{
    outline: 3px solid var(--color-negro);
    background-color: var(--color-blanco);
    font-size: 1.7vw;
}
.flask i,
.css i,
.docker i{
    outline: 3px solid var(--color-negro);
    background-color: var(--color-blanco);
    font-size: 1.7vw;
}

.html img{
    outline: 3px solid var(--color-negro);
    background-color: var(--color-blanco);
    width: 1.7vw;
    height: 3.5vh;
}

.herramientas {
    /* ... */
    transform: scale(0.8) rotate(-10deg); /* Riduci e ruota leggermente */
    transition: all 0.5s ease-in-out;
}
  
  .herramientas.visible {
    transform: scale(1) rotate(0);
    opacity: 1;
    transform: scale(1.1);
    animation: glitch 0.5s infinite;
  
}

.section-proyectos{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.proyectos{
    justify-content: space-evenly;           
    flex-wrap: wrap;
    width: 80vw;
    height: 70vh;
    border-radius: 1vw;
    display: flex;
    background-color: #03767e79;
    border: 1px solid rgb(1, 216, 216);
    box-shadow: 0 0 10px 0 rgb(1, 216, 216);
    /* z-index: -10; */
    align-items: start;
}
.proyecto {
    margin: 2vw;
    /* background-color: rgba(255, 0, 0, 0.206); */
    width: 20vw;
    background-image: linear-gradient(#17171eb2, #4645456b), url("../storage/img/foodlover.PNG");
    height: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:"Kode Mono", sans-serif ;
}
.foodlover{
    background-image: linear-gradient(#17171eb2, #4645456b), url("../storage/img/foodlover.PNG");
    background-repeat: no-repeat;
    background-size: cover;
}
.campusShop{
    background-image: linear-gradient(#17171e94, #4645458e), url("../storage/img/campusshop.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.planta{
    background-image: linear-gradient(#17171e94, #4645458e), url("../storage/img/imagenjardin.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.cinecampus{
    background-image: linear-gradient(#17171e94, #4645458e), url("../storage/img/cinecampus.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.encriptador{
    background-image: linear-gradient(#17171e94, #4645458e), url("../storage/img/encriptador.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.proyecto:hover {
    cursor: pointer;
}

.proyecto a {
    display: none;
 }
 .proyecto button{
    border: none;
    margin-top: 1vw;
    box-shadow: 0 0 10px 0 rgb(1, 216, 216);

    border-radius: 2vw;
     background-color: #03767e;
     width: 8vw;
     height: 4vh;
 }

 .proyecto:hover a{
     display: flex;
 }

 .proyecto {
    transform: scale(0.8) rotate(-10deg);
    transition: all 0.5s ease-in-out;
}
  
  .proyecto.visible {
    transform: scale(1) rotate(0);
    opacity: 1;
    transform: scale(1.1);
    animation: glitch 0.5s infinite;
  
}


.section-sobre-mi{
    /* background-image:linear-gradient(#172e2d7a, #302c2c63), url("https://static.wixstatic.com/media/97b295_343224e0b87544f6b1e301fabbe07d6e~mv2.gif"); */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.section-sobre-mi .container{
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: space-evenly;
    align-items: center;
}
.section-sobre-mi .hi {
    height: 75vh;
    display: flex;
    align-items: start;
}
.section-sobre-mi .hi img{
    object-fit: cover;
    height: 100%;
}
.mision,
.vision{
    font-size: 1vw;
    flex-wrap: wrap;
    width: 30vw;
    height: 50vh;
    border-radius: 1vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #03767e79;
    border: 1px solid rgb(1, 216, 216);
    box-shadow: 0 0 10px 0 rgb(1, 216, 216);
    font-family: "VT323", sans-serif;
}
.container p{
    width: 70%;
    font-family: "Kode Mono", sans-serif;
}


.section-estudios{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.timeline-container {
    width: 60vw;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Kode Mono", sans-serif; 
    /* background-color: seagreen; */
}
.eventos {
    width: 23vw;
    height: 100%;
    /* background-color: steelblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fechas{
    width: 23vw;
    height: 100%;
    /* background-color: slategrey; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-shadow: 0 0 2px rgb(103, 10, 233), 0 0 40px rgb(120, 6, 226), 0 0 15px rgb(97, 16, 227);
}
.timeline {
    /* position: absolute; */
    border-radius: 2vw;
    /* top: 0;
    left: 50%; */
    transform: translateX(-50%);
    width: 5px;
    height: 100%;
    background-color: rgb(1, 202, 216);
    box-shadow: 0 0 10px 0 rgb(76, 1, 216);

}

.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(1, 216, 216);
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.5s ease;
    box-shadow: 0 0 10px 0 rgb(76, 1, 216);

}

.event {
    width: 100%;
    /* background-color: sandybrown; */
}
.fecha2{
    padding-top: 18vh;
}
.event h2{
    text-shadow: 0 0 2px rgb(103, 10, 233), 0 0 40px rgb(120, 6, 226), 0 0 10px rgb(97, 16, 227);
}
.event2{
    padding-top: 10vh;
}
.section-contactame{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.img{
    position: absolute;
    z-index: -1;
}
.Contactame {
    text-align: center;
    color: #01d8d8;
    font-size: 3vw;
    font-family: "Rubik Glitch", system-ui;
}
.Contactame span{
    /* font-family: "Nosifer", sans-serif; */
    color: #01d8d8;
    /* text-shadow:  0 0 1px rgb(10, 233, 233), 0 0 10px rgb(6, 226, 226), 0 0 10px rgb(16, 227, 227); */
}
.abrir{
    display: none;
}

@media(max-width: 500px){
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        /* background-color: #ecd60a; */
    }
    .saludo i{
        font-size: 6vw;
    }
    .abrir{
        width: 2vw;
        height: 2vh;
        display: block;
        border-radius: 2vw;
    }
    .presentacion{
        
        width: 100%;
    }
    .saludo{
        width: 70%;
        font-size: 3vw;

    }
    .bienvenida{
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .text-presentacion{
        height: 80%;
        flex-direction: column;
        font-size: 8vw;
    }
    .fondoborroso{
        display: none;

    }
    .menu{
        display: none;
    }
    .menu.visible{
        display: flex;
        position: absolute;
        width: 100%;
        background-color: var(--color-negro);
    }
    .menu.visible a{
        font-size: 5vw;
    }
    .contacto{
        /* background-color: red; */
        width: 80%;
        height: 30vh;
        flex-direction: column;
    }
    .red{
        display: flex;
        height: 5vh;
        align-items: center;
        width: 60%;
        /* background-color: #01d8d8; */
    }
    .contacto a {
        font-size: 6vw;
    }
    .contacto i {
        font-size: 6vw;
    }
    .contacto img {
        width: 5vw;
        height: 2vh;
    }
    .herramientas{
        /* background-color: rebeccapurple; */
        width: 80%;
        justify-content: center;
    }
    .box-herramienta{
        /* background-color: forestgreen; */
        width: 20vw;
    }
    .box-herramienta p{
        font-size: 2.4vw;
    }
    .box-herramienta div img{
        width: 3vw;
        height: 1.5vh;
    }
    .box-herramienta div i{
        font-size: 3vw;
    }
    .box-herramienta .express{
        width: 3vw;
        height: 1.5vh;
    }
    .proyectos{
        /* background-color: tan; */
        height: 60vh;
        align-items: center;

    }
    .proyecto{
        width: 30vw;
        height: 10vh;
    }
    .hi{
        display: none;
    }
    .hi img{
        display: none;
    }
    .container{
        flex-direction: column;
        /* background-color: tomato; */
        gap: 3vh;

    }
    .mision,
    .vision {
        /* background-color: rebeccapurple; */
        width: 70vw;
        height: 60vh;
        font-size: 2.5vw;
    }
    .mision h2,
    .vision h2{
        font-size: 7vw;
    }
    .timeline-container{
        font-size: 3vw;
    }
    .Contactame{
        width: 80%;
        font-size: 8vw;
    }
    .abrir{
        left: 4vw;
        top: 4vh;
        position: absolute;
        border: none;
        width: 10vw;
        height: 3vh;
        background-color: #800080;
    }
    .atras i{
        font-size: 6vw;
    }
}