@import url(variables.css);
*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: var(--color-blanco);
}

body {
    background-color: #000;
    margin: 0;
}
main{
    width: 100%;
    display: flex;
}
.menu{
    width: 20%;
    height: 100vh;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.menu a {
    font-family: "Kode Mono", sans-serif; 
}  
.menu a {
    font-size: 2vw;
    color: rgb(1, 216, 216);
    text-shadow: 0 0 2px rgb(10, 233, 233), 0 0 40px rgb(6, 226, 226), 0 0 30px rgb(16, 227, 227);
    animation: glitch 1s infinite;
    position: relative;
    transition: all 0.3s ease-in-out;
    transform: rotate(-40deg);
}
  
.menu a:hover {
    color: #800080;
    text-shadow: 0 0 1px #800080, 0 0 4px #800080, 0 0 6px #800080;
    transform: scale(1.1);
    animation: glitch 0.5s infinite;
  }

.presentacion{
    /* background-color: darkblue; */
    margin-left: 5vw;
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.gif-programadora{
   box-sizing: border-box;
    height: 25vh;
}
.gif-programadora img{
    object-fit: cover;
    height: 100%;
} 
.fondoborroso{
    position: absolute;
    width: 80%;
    height: 100vh;
    background-image: url("../storage/img/fondo2.jpg");
    filter: blur(1px);
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.bienvenida{
    width: 70%;
    height: 60%;
    /* background-color: khaki; */
}
.saludo{
    font-size: 1vw;
    font-family:  "DotGothic16", sans-serif;
    border-radius: 1vw;
    width: 20vw;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom,  rgba(1, 216, 216, 0.397), rgba(3, 220, 220, 0.329));
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.text-presentacion{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: tan; */
    width: 90%;
    height: 70%;
    font-size: 3vw;
    font-family: "Geo", sans-serif;
}
.text-presentacion span{
    font-family: "VT323", sans-serif;
    color: rgb(1, 216, 216);

}
.contacto {
    background: linear-gradient(to bottom, rgba(108, 22, 158, 0.367), rgba(103, 10, 137, 0.641));
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 2vw;
    width: 65%;
    height: 10%;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icon-contacto{
    margin-right: 5px;
    width: 2vw;
    height: 2vw;
    box-sizing: border-box;
    border-radius: 1vw;
}
.icon-contacto img{
    object-fit: cover;
    height: 100%;
}
.contacto a {
    font-family: "Geo", sans-serif;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5vw;
}
.contacto .red{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contacto a:hover{
    text-shadow: 0 0 1px #800080, 0 0 3px #800080, 0 0 5px #800080;
}
.main{
    background-color: blanchedalmond;
}
  
  /* @keyframes glitch {
    0% {
      transform: translate(0, 0);
    }
    5% {
      transform: translate(-5px, 2px);
    }
    10% {
      transform: translate(2px, -3px);
    }
    /* ... más keyframes para diferentes distorsiones 
  } */

.section-conocimiento{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.Conocimientos {
    color: var(--color-blanco);
    font-family: "VT323", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28vw;
    height: 6vh;
    background-color: #03767e79;
    border-radius: 1vw;
    border: 1px solid rgb(1, 216, 216);
    box-shadow: 0 0 10px 0 #01d8d8;
    font-size: 3vw;
}
.herramientas{
    font-size: 1vw;
    flex-wrap: wrap;
    width: 60vw;
    height: 30vh;
    border-radius: 1vw;
    display: flex;
    background-color: #03767e79;
    border: 1px solid rgb(1, 216, 216);
    box-shadow: 0 0 10px 0 rgb(1, 216, 216);
}
.box-herramienta{
    font-family: "Kode Mono", sans-serif; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2vw;
    border-radius: 1vw;
    width: 10vw;
    height: 5vh;
    background-color: rgba(4, 197, 197, 0.637);
}
.icon-herramientas{
    font-size: 2vw;
}
.icon-herramientas i{
    background-color: #000;
}
.second i{
    background-color: #ecd60a;
}