<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusShop</title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">   
    <link href="https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/campusShop.css">
    <script src="../js/main.js" defer></script>
</head>
<body>
    <div class="atras">
        <a href="../index.html#proyectos"><i class='bx bx-arrow-back' style='color:#01d8d8' ></i></a>
    </div>
    <div class="title">
        <h1>CampusShop</h1>
        <h2>E-commerce</h2>
    </div>
    <main>
        <div class="muestra">
            <iframe 
            src="https://screenapp.io/app/#/shared/g0llLLePbA?embed=true" width="100%" height="100%" frameborder="0" allowfullscreen>
            </iframe>
        </div>
        <div class="container">
            <div class="descripcion">
                <p id="sobre-mi-texto">Diseño y desarrollo de un aplicativo web para un cine, incluyendo la visualización de cartelera, compra de entradas, y selección de asientos. El proyecto fue construido con Node.js, Vue.js y JavaScript,  adicionalmente con MongoDB para la gestión de datos, ofreciendo una experiencia de usuario completa y fluida.</p>
            </div>
            <a href="https://github.com/VeronicaRuizBautista/E-Commerce-de-ropa"><button>Ver Repositorio</button></a>
        </div>
    </main>
</body>
</html>