<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encriptador</title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">   
    <link href="https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/campusShop.css">
    <script src="../js/main.js" defer></script>
</head>
<body>
    <div class="atras">
        <a href="../index.html#proyectos"><i class='bx bx-arrow-back' style='color:#01d8d8' ></i></a>
    </div>
    <div class="title">
        <h1>Encriptador</h1>
        <h2>Página web</h2>
    </div>
    <main>
        <div class="muestra2">
            <iframe 
            src="https://www.youtube.com/embed/quqSI7L4x2M" width="100%" height="100%" frameborder="0" allowfullscreen>
            </iframe>
        </div>
        <div class="container">
            <div class="descripcion">
                <p id="sobre-mi-texto">Una aplicación web responsiva desarrollada con JavaScript que permite encriptar y desencriptar frases o palabras de manera sencilla. La herramienta transforma el texto ingresado utilizando algoritmos de encriptación básicos. La interfaz es intuitiva y accesible desde cualquier dispositivo.</p>
            </div>
            <a href="https://github.com/VeronicaRuizBautista/E-Commerce-de-ropa"><button>Ver Repositorio</button></a>
        </div>
    </main>
</body>
</html>